<form method="get" action="/contacts">
    <button type="submit">HOME</button>
</form>

<h1>Contact</h1>
<div class="contact-details">
  <ul>
    <li>id: <%= @contact.id %></li>
    <li>first_name: <%= @contact.first_name %></li>
    <li>last_name: <%= @contact.last_name %></li>
    <li>E-mail: <%= @contact.email %></li>
  </ul>
</div>